/* src/main/resources/Styles/ArmasStyles.css */
.tab-pane {
    -fx-background-color: #ffffff; /* Cambiar el fondo a blanco */
}

.tab {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000; /* Cambiar el color del texto a negro */
}

.vbox {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-background-color: #ffffff; /* Cambiar el fondo a blanco */
}

.armas-vbox {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff; /* Cambiar el fondo a blanco */
}

.image-view {
    -fx-fit-width: 100px;
    -fx-fit-height: 100px;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000; /* Cambiar el color del texto a negro */
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}